@media screen and (min-width:500px) {

    /*<imagem menu>*/
    header {
        background-image: url(./imagem/euGrande.png);
        background-position: right center;
    }

    /*<Meu nome>*/
    #baner {
        width:40vw;
        position: relative;
        top: 20%;
        left: 18%;
    }
    #baner>h1 {
        color: white;
        font-size: 5em;
        text-align: center;
        margin-top: 10px;
    }
    #baner>h2 {
        color: var(--amarelo);
        font-size: 3em;
        text-align: center;
    }
    #baner > p {
        display: block;
        width:30vw;
        color:var(--amarelo);
        padding-top:10vh;
        font-size:1.2em;
        text-align: center;
        margin: auto;
    }


    /*minha Formações*/
    #formacao{
        font-size:40px;
        padding-top:20px;
        padding-bottom:10px;
    }
    .formacoes {
        width: 30vw;
        margin: 0px;
    }

    .formacoes>div {
        width: 25vw;
    }

    .container-cabecalho {
        margin-bottom: 20px;
    }
    .formacoes > div> p{
        display: block;
        margin-left:30px;
    }
    .container-formação{
        display:flex;
    }
    .container-grid{
        display: grid;
        grid-template-columns:1fr 1fr;
        max-width:900px;
        margin: 40px auto;
    }

    /*<Tecnologias que eu sei>*/
    #conteiner-tec {
        width: 65vw;
        margin: auto;
    }
    #TECs > h2{
        padding-top:0px;
    }

    /*<história>*/
    #historia{
        height:105vh;
    }
    #historia>p {
        width: 30vw;
    }
    .container-historia{
        display: flex;
        justify-content: center;
        margin-top:50px;
    }
    #historia > div > div p{
        width:30vw;
        margin-left:70px;
    }

    /*<roda pé>*/
    footer {
        height: 10vh;
        display: flex;
        justify-content: center;
    }
    footer> h2 {
        display: none;
    }
    footer > div {
       display: flex;
       align-items: center;
       margin: auto 0;
    }
    #instag{
    display: block;
    }

    /*<imagem>*/
    #img-faculdade {
        display: block;
        width: 30vw;
        margin-top:10px;
    }

    #img-escola {
        display: block;
        width: 33vw;
        margin-top:10px;
    }

    #img-historia {
        display:block;
        width: 450px;
    }
}