*{
    margin:0px;
    padding:0px;
    font-family:sans-serif;
}
:root{
    --preto: #121212;
    --pretoClaro: #242424;
    --amarelo: #edc802;
}

header{
    height:100vh;
    background-color: #242424;
    box-shadow: inset  0px -15px 20px -15px black;
}
menu{
    background-color: var(--preto);
    height:8vh;
}
menu > ul {
    padding: 10px;
    width:400px;
    position: relative;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
menu > ul > a {
    color: white;
    font-style: none;
    text-decoration: none;
}
menu > ul > a > li{
    display:inline;
    margin-right: 10px;
}

#baner{
    padding:10px;
}
#baner >h1 {
    color: white;
    font-size:50px;
    margin-top: 10px;
}
#baner > h2 {
    color:var(--amarelo);
    font-size:30px;
    padding-left:20px;
}

main{

}
section> h2{
    font-size:2.5em;
    padding:10px;
    margin-top:10px;
    text-align: center;
}
section > div > h3{
    color:var(--amarelo);
    font-size:2em;
    text-align: center;
    padding:10px;
}
.formacoes{
    width:450px;
    height:300px;
    background-color: #242424;
    margin-top:10px;
    border-radius:5px;
    box-shadow:  3px 3px 5px #121212d0;
    position: relative;
    transform: translate(-50%);
    left:50%;
    margin-bottom:20px;
}
.formacoes > div{
    position: relative;
    width:400px;
    height:200px;
    transform: translate(-50%);
    left:50%;
    border-radius:10px;
    padding-top:10px;
}
.formacoes > div> p{
    color:white;
    font-size:18px;
    margin-left:30px;
    margin-top:10px;
}
#estacio{
    background-color: #134ac8;
}
#universidade{
    margin-bottom:25px;
    font-weight:800;
}
#if{
    background-color: #2ba43c;
}
#escola{
    margin-bottom:25px;
    font-weight:800;
}


#TECs{
    padding:20px;
}
#TECs > h3{
    font-size:30px;
    text-align: center;
    padding:10px;
    margin-top:5px;
    margin-bottom:10px;
}
.logoTec{
    width: 100px;
    height:100px;
}
#conteiner-tec{
    display: flex;
    overflow-x: auto;
}
#conteiner-tec::-webkit-scrollbar{
    display:none;
}
.grupo{
    display: flex;
    animation: spin 13s infinite linear;
}

@keyframes spin {
    from{translate:0;}
    to{translate:-100%;}
}