/*<Global>*/
*{
    margin:0px;
    padding:0px;
    font-family:sans-serif;
}
/*<variaveis>*/
:root{
    --preto: #121212;
    --pretoClaro: #242424;
    --amarelo: #edc802;
}


/*<menu>*/
menu{
    background-color: var(--preto);
    height:8vh;
}
menu > ul {
    padding: 10px;
    width:400px;
    position: relative;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
menu > ul > a {
    color: white;
    font-style: none;
    text-decoration: none;
}
menu > ul > a > li{
    display:inline;
    margin-right: 10px;
}

/*<Meu nome>*/
#baner{
    padding:10px;
}
#baner >h1 {
    color: white;
    font-size:50px;
    text-align: center;
    margin-top: 10px;
}
#baner > h2 {
    color:var(--amarelo);
    font-size:30px;
    text-align: center;
}

/*<Minha Foto>*/
header{
    height:100vh;
    background:url(./imagem/eu.jpeg);
    background-size: contain no-repeat;
    box-shadow: inset  0px -15px 20px -15px black;
    /*arrumar a repedição da imagem em backgrond*/
}

/*minha Formações*/
section> h2{
    font-size:2.5em;
    padding:10px;
    margin-top:10px;
    text-align: center;
}
section > div > h3{
    color:var(--amarelo);
    font-size:2em;
    text-align: center;
    padding:10px;
}

/*configurações da div formções*/
.formacoes{
    width:450px;
    height:300px;
    background-color: #242424;
    margin-top:10px;
    border-radius:5px;
    box-shadow:  3px 3px 5px #121212d0;
    position: relative;
    transform: translate(-50%);
    left:50%;
    margin-bottom:20px;
}
.formacoes > div{
    position: relative;
    width:400px;
    height:200px;
    transform: translate(-50%);
    left:50%;
    border-radius:10px;
    padding-top:10px;
}
.formacoes > div> p{
    color:white;
    font-size:18px;
    margin-left:30px;
    margin-top:10px;
}

/*cabeçalho das instituições*/
.container-cabecalho{
    display: flex;
    gap:15px;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 18px;
}
.container-cabecalho > h4 {
    color:white;
    font-size:1em;
    font-weight: 800;
}

/*logo*/
.div-logo{
    left:20px;
    top:10px;
    background-color: white;
    border-radius: 50%;
    width:40px;
    height:40px;
}
#logo-estacio{
    position: relative;
    transform: translate(-50%,-50%);
    left:50%;
    top:50%;
    width:50px;
    height:40px;
}
#logo-if{
     position: relative;
    transform: translate(-50%,-50%);
    left:50%;
    top:50%;
    width:30px;
    height:30px;
}


/*Cores Intituições*/
#estacio{
    background-color: #134ac8;
}

#if{
    background-color: #2ba43c;
}


/*<Tecnologias que eu sei>*/
#TECs{
    padding:20px;
}
#TECs > h3{
    font-size:30px;
    text-align: center;
    padding:10px;
    margin-top:5px;
    margin-bottom:10px;
}
.logoTec{
    width: 100px;
    height:100px;
}
#conteiner-tec{
    display: flex;
    overflow-x: auto;
}
#conteiner-tec::-webkit-scrollbar{
    display:none;
}
.grupo{
    display: flex;
    animation: spin 13s infinite linear;
}

/*<história>*/
#historia{
    margin-top:40px;
    width:97vw;
    height:300px;
    background-color: var(--pretoClaro);
}
#historia > h2{
    color:white;
    font-size:30px;
    padding-top:30px;
    text-align: center;
    margin-bottom:10px;
}
#historia > p{
    color:white;
    font-size:20px;
    text-align: justify;
    width:80vw;
    margin: auto;
    text-indent:30px;
}

/*<roda pé>*/
footer{
    width:97vw;
    height:100px;
    background-color:var(--preto);
}

/*<animações>*/
@keyframes spin {
    from{translate:0;}
    to{translate:-100%;}
}